body {
  background-color: #4099FF;
}

h1 {
  font-size: 2em;
  color: #4099FF;
  text-align: center;
  font-family: serif;
}

p, ul, form, a {
  font-family: sans-serif;
  font-size: 1em;
}

ul {
  list-style-type: square;
}

a {
  color: #32659F;
}

a:hover {
  color: #74879C;
}

p {
  padding-left: 2%;
  padding-right: 2%;
}

textarea {
  width: 98%;
  height: 7em;
}

.onglet {
	display: inline-block;
	margin: 0px -3px;
	padding: 0.5em 0em;
	border: 1px solid black;
	cursor: pointer;
}

.onglet:first-child {
  margin-left: auto;
}

.onglet_0 {
	background-color: #D8EBFF;
	border-bottom: 1px solid black;
  width: 14.5%;
  overflow-x: hidden;
  margin-bottom: -12.5px;
}

.onglet_1 {
	background-color: #FFF;
	border-bottom: 0px solid black;
	padding-bottom: 0.55em;
  width: 40%;
}

.contenu_onglet {
	background-color: #FFF;
	border: 1px solid black;
	margin-top: -1px;
	padding: 0.7em;
	display: none;
  box-shadow: 0px 0px 20px 7px #14355B;
}

.formulaire {
  padding-bottom: 7%;
  margin-left: 2%;
}

.formulaire:last-child {
  padding-bottom: 0%
}

.txtcontact {
  overflow: scroll;
  background-color: #BADBFF;
  color: #000;
}

.yt {
	position: relative;
  padding-bottom: 55%;
	padding-top: 25px;
	height: 0px;
}

iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 90%;
	height: 90%;
  margin-left: 5%;
}

.buttons {
  background-color: #4099FF;
  color: #FFF;
  width: 35%;
  min-width: 5em;
  height: 2.5em;
  margin-left: 10%;
}

.buttons:hover {
  background-color: #BADBFF;
}

#photo, #header {
  width: 75%;
  margin-left: 12.5%;
}

:focus {
  background-color: #D8EBFF;
}
